    /* STYLING FOR DIV MAIN FOOTER PARENT ELEMENT */
    .container {
        display: inline-block;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }



    /* STYLING FOR DIV HEADER */
            .hero-row {
                display: inline-block;
                width: 600px;
                margin-left: calc( (100% - 600px ) / 2);
                text-align: center;
            }
            .bg-blue { 
                background-color: #03A9F4;
            }
            .background {
                background-image: url(../img/top.png);
                /* con need to use no-repeat when size is cover */
                /* background-repeat: no-repeat; */
                background-size: cover;
                background-position: bottom center;
            }
                .logo {
                    height: 60px;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                    margin-bottom: 60px;
                }
                .title {
                    text-transform: uppercase;
                    font-size: 60px;
                    line-height: 50px;
                    margin-bottom: 30px;
                }
                .sub-title {
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 60px;
                }
                .clock {
                    margin-bottom: 60px;
                }
                .hero-row > .form {
                    width: 90%;
                    margin-left: 5%;
                    margin-right: 5%;
                    margin-bottom: 20px;
                }



    /* STYLING FOR MAIN */
        .left-column {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .right-column {
            display: inline-block;
            width: 40%;
            float: right;
        }
            .column-title {
                margin-bottom: 30px;
            }
            .column-description {
                margin-bottom: 30px;
            }

     /* STYLING FOR FOOTER */
        .row{
            display: inline-block;
            width: 1000px;
            margin-left: calc( (100% - 1000px ) / 2);
            position: relative;
            }
            footer.container {
                padding-top: 0;
            }
            .social{
                display: inline-block;
                width: 100%;
                float: left;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1PX SOLID #FFF;
                text-align: center;
                margin-bottom: 30px;
            }
            .social a {
                text-decoration: none;
                color: #FFF;
                padding: 10px;
                line-height: 20px;
                margin: 10px;
                width: 40px;
            }
            .social a:hover{
                border-radius: 50%;
                background-color: #fff;
                color: #03A9F5;
            }
            .footer-texts{
                display: inline-block;
                float: left;
                width: 600px;
                margin-left: calc( (100% - 600px ) / 2);
                text-align: center;
                color: #FFF;
                font-size: 18px;
            }
                .logo-bottom{
                    display: inline-block;
                    width: 100%;
                    height: 40px;
                    object-fit: contain;
                    object-position: center;
                    margin-bottom: 30px;
                }
                .copyright{
                    display: inline-block;
                }
                    .copyright > .texts{
                        display: inline-block;
                        float: left;
                    }
                    .copyright > .texts.borders {
                        margin-left: 20px;
                        margin-right: 20px;
                        position: relative;
                    }
                    .copyright > .texts.borders::before{
                        /* inline-block is used to show up an element */
                        display: inline-block;
                        content: '';
                        width: 1px;
                        height: 10px;
                        background-color: #FFF;
                        position: absolute;
                        left: -9px;
                        top: 6px;
                    }
                    .copyright > .texts.borders::after{
                        /* inline-block is used to show up an element */
                        display: inline-block;
                        content: '';
                        width: 1px;
                        height: 10px;
                        background-color: #FFF;
                        position: absolute;
                        right: -9px;
                        top: 6px;
                    }
                .footer-texts a{
                    color: #fff;
                    text-decoration: none;

                }
                .back-to-top{
                    position: absolute;
                    top: -20px;
                    right: 0;
                }
/* CODE FOR RESPONSIVE DESIGN */

@media (max-width: 1100px) {
    .row{
        width: 800px;
        margin-left: calc( (100% - 800px ) / 2);
    }
}

@media (max-width: 900px) {
        .row{
            width: 600px;
            margin-left: calc( (100% - 600px ) / 2);
        }
            .left-column{
                width: 100%;
                margin-bottom: 60px;
            }
            .right-column{
                width: 100%;
                float: left;
            }
}

@media (max-width: 700px) {
      .hero-row{
            width: 400px;
            margin-left: calc ( (100% - 400px) / 2 );
        }
            .row{
            width: 400px;
            margin-left: calc ( (100% - 400px) / 2 );
            }
            .footer-texts{
                width: 400px;
                margin-left: calc( (100% - 400px) / 2 );
            }
                .copyright > .texts{
                    width: 100%;
                }
                .copyright > .texts.borders {
                    margin: 0;
                }
                .copyright > .texts.borders::before,
                .copyright > .texts.borders::after {
                    display: none;
                }
}

@media (max-width: 500px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
        .hero-row{
            width: 100%;
            margin-left:0;
        }
            .row{
                width: 100%;
                margin-left: 0;
            }
            .texts{
                width: 100%;
                margin-left:0;
            }
}